# add relevant .gitignore entries for a Golang project:
vendor/
*.log
*.out
*.pb
*.txt
*.test
*.prof
*.pb.gz
*.pprof
*.cover
coverage.txt
.DS_Store
erpc.yaml
erpc.ts
.generated-go-semantic-release-changelog.md
.semrel/
__debug*
node_modules
.next
.env
bin/**
temp/**
