services:
  # erpc:
  #   platform: linux/amd64
  #   image: ghcr.io/erpc/erpc:main
  #   # build:
  #   #   context: .
  #   #   dockerfile: Dockerfile
  #   volumes:
  #     - ./erpc.yaml:/erpc.yaml

  # monitoring:
  #   build: ./monitoring
  #   ports:
  #     - "3000:3000"  # Grafana
  #     - "9090:9090"  # Prometheus
  #   environment:
  #     - SERVICE_ENDPOINT=host.docker.internal
  #     - SERVICE_PORT=4001
  #   volumes:
  #     - ./monitoring/grafana/grafana.ini:/etc/grafana/grafana.ini
  #     - ./monitoring/grafana/dashboards:/etc/grafana/dashboards
  #     - prometheus_data:/prometheus
  #     - grafana_data:/var/lib/grafana

  # redis:
  #   container_name: erpc-redis
  #   image: redis:latest
  #   restart: always
  #   ports:
  #     - "6379:6379"
  #   networks:
  #     erpc:

  # jaeger:
  #   container_name: erpc-jaeger
  #   image: jaegertracing/all-in-one:latest
  #   restart: always
  #   ports:
  #     - "16686:16686"    # Jaeger UI
  #     - "4317:4317"      # OTLP gRPC
  #     - "4318:4318"      # OTLP HTTP
  #   environment:
  #     - COLLECTOR_OTLP_ENABLED=true
  #     - COLLECTOR_FILTER_PROCESSOR_ENABLED=true
  #     - COLLECTOR_FILTER_PROCESSOR_MAX_DURATION=1s
  #   networks:
  #     erpc:

  postgresql:
    container_name: erpc-postgresql
    image: postgres:13.4
    restart: always
    environment:
      POSTGRES_USER: erpc
      POSTGRES_PASSWORD: erpc
      POSTGRES_DB: erpc
    ports:
      - "5432:5432"
    networks:
      erpc:

  # scylla:
  #   container_name: erpc-scylla
  #   image: scylladb/scylla:5.2.18
  #   restart: always
  #   command: --alternator-port=8067 --alternator-write-isolation=unsafe_rmw --seeds=erpc-scylla --smp 1 --memory 6G --overprovisioned 1 --api-address 0.0.0.0
  #   volumes:
  #     - "./scylla/scylla.yaml:/etc/scylla/scylla.yaml"
  #     - "./scylla/cassandra-rackdc.properties.dc1:/etc/scylla/cassandra-rackdc.properties"
  #     - "./scylla/mutant-data.txt:/mutant-data.txt"
  #     - "./scylla/data:/var/lib/scylla"
  #   ports:
  #     - "8067:8067"
  #     - "9042:9042"
  #     - "9160:9160"
  #     - "10000:10000"
  #   networks:
  #     erpc:

networks:
  erpc:
    driver: bridge

volumes:
  prometheus_data:
  grafana_data: