import { createConfig } from "@erpc-cloud/config";

export default createConfig({
    logLevel: "trace",
    server: {
        listenV4: true,
        httpHostV4: "0.0.0.0",
        httpPort: 4000,
    },
    metrics: {
        enabled: true,
        hostV6: "[::]",
        port: 4001,
    },
    projects: [
        {
            id: "main",
            upstreams: [
                {
                    endpoint: `https://polygon.llamarpc.com`
                },
                {
                    endpoint: `https://polygon.meowrpc.com`
                },
                {
                    endpoint: `https://endpoints.omniatech.io/v1/matic/mainnet/public`
                },
                {
                    endpoint: `https://polygon-mainnet.blastapi.io/5a41b4fd-8f3c-4060-9cdc-521ba39e0a90`,
                    group: "fallback"
                }
            ]
        }
    ]
})